.leaflet-container {
  height: 100%;
  width: 100%;
}

/* Fix Icon Paths */
.leaflet-marker-icon {
  background-image: url("/leaflet/marker-icon.png");
}

.leaflet-retina .leaflet-marker-icon {
  background-image: url("/leaflet/marker-icon-2x.png");
}

.leaflet-marker-shadow {
  background-image: url("/leaflet/marker-shadow.png");
}

.leaflet-control-layers-toggle {
  background-image: url("/leaflet/layers.png");
}

.leaflet-retina .leaflet-control-layers-toggle {
  background-image: url("/leaflet/layers-2x.png");
}
